
<h1>Les repas auxquels je participe</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participations.each do |participation| %>
      <tr>
        <% @current_meal = Meal.find(participation.meal_id) %>
        <td><%= participation.user_id %></td>
        <td><%= participation.user_fname %></td>
        <td><%= participation.meal_name %></td>
        <td><%= link_to 'Carte', "http://maps.google.com/?q="+meal.user.street, :target => "_blank"  %></td>
        <td><%= link_to 'Voir repas', @current_meal %></td>
        <td><%= link_to 'Ne plus participer', participation, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
