<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :fname %><br />
    <%= f.text_field :fname %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.collection_radio_buttons :gender, [[true, 'Homme'] ,[false, 'Femme']], :first, :last %>
  </div>

  <div class="field">
    <%= f.label :dateofbirth %><br />
    <%= f.date_field :dateofbirth %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :intersts %><br />
    <%= f.text_field :intersts %>
  </div>

  <div class="field">
    <%= f.label :adress %><br />
    <%= f.text_field :adress %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.collection_radio_buttons :type, [[true, 'Marmiton'] ,[false, 'pauvre']], :first, :last %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
