<div class="container">
<h1>Mon profil</h1>

<% if @user.role == true %>
<% else %>

<% end %>


<% if @user.gender == true %>

<% else %>

<% end %>

<p>Prénom : <%= @user.first_name%></p>
<p>Nom : <%= @user.name%></p>
<p>Statut : <%= @role %></p>
<p>Adresse mail : <%= @user.email%></p>
<% if !@user.city.nil? %>
<p>Ville : <%= @user.city%></p>
<%end%>
<% if !@user.dateofbirth.nil? %>
<p>Date de naissance : <%= @user.dateofbirth%></p>
<%end%>
<% if !@user.gender.nil? %>
<p>Civilité : <%= @user.gender%></p>
<%end%>
<% if !@user.description.nil? %>
<p>Description : <%= @user.description%></p>
<%end%>
<% if !@user.interests.nil? %>
<p>Intérêts : <%= @user.interests%></p>
<%end%>



<br><br><br><br><br>

<% if current_user.id == @user.id %>
  <button type="button" class="btn btn-default navbar-btn btn-paupiette"><%= link_to 'Editer mon profil', edit_user_registration_path %></button>
<% end %>
</div>
