<div class="container">
<h1>Mon profil</h1>

<% if @user.role == true %>

<% end %>


<p>Prénom : <%= @user.first_name%></p>
<p>Nom : <%= @user.name%></p>
<p>Je suis un : <%= @user.role%></p>
<p>Adresse mail : <%= @user.email%></p>
<p>Ville : <%= @user.city%></p>
<p>Date de naissance : <%= @user.dateofbirth%></p>
<p>Genre : <%= @user.gender%></p>
<p>Description : <%= @user.description%></p>
<p>Intérêts : <%= @user.interests%></p>



<br><br><br><br><br>

<% if current_user.id == @user.id %>
  <button type="button" class="btn btn-default navbar-btn btn-paupiette"><%= link_to 'Editer mon profil', edit_user_registration_path %></button>
<% end %>
</div>
