<section class="header-home">
  <div class="paupiette-container">
    <div class="inner-container-left">
      <div class="baseline">
        <div class="baseline-firstline">
          Ce <strong>midi</strong>,
        </div>
        <div class="baseline-secondline">
          c'est chez <strong>Mamie</strong> !
        </div>
        <% if !user_signed_in? %>
          <h2>Paupiette réunit séniors et étudiants le temps d’un déjeuner, autour d’un bon petit plat ! <br>Toi aussi, rejoins-nous.</H2>
              <%= link_to "Je suis chef de cuisine !", new_user_registration_path(:episode => true),  class: "action-btn-home" %>
              <%= link_to "Je suis étudiant !", new_user_registration_path(:episode => false), class: "action-btn-home" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="selfies-du-midi">
  <h2>Les derniers selfie du midi</h2>
  <div class="paupiette-container">
  <div class="selfies">
    <div class="selfie-container">
      <div class="selfie">
        <div class="selfie-image" style="background-image:url('<%= image_url('selfie1.png')%>')">

        </div>
        <h3>Béatrice et Marie</h3>
      </div>
    </div>
    <div class="selfie-container">
      <div class="selfie">
        <div class="selfie-image" style="background-image:url('<%= image_url('selfie3.png')%>')">

        </div>
        <h3>Béatrice et Marie</h3>
      </div>
    </div>
    <div class="selfie-container">
      <div class="selfie">
        <div class="selfie-image" style="background-image:url('<%= image_url('selfie3.png')%>')">

        </div>
        <h3>Béatrice et Marie</h3>
      </div>
    </div>
    <div class="selfie-container">
      <div class="selfie">
        <div class="selfie-image" style="background-image:url('<%= image_url('selfie4.png')%>')">

        </div>
        <h3>Béatrice et Marie</h3>
      </div>
    </div>
  </div>
</div>
</section>
