<section class="header-home">
  <div class="paupiette-container">
    <div class="inner-container-left">
      <div class="baseline">
        <div class="baseline-firstline">
          Ce <strong>midi</strong>,
        </div>
        <div class="baseline-secondline">
          c'est chez <strong>Mamie</strong> !
        </div>
        <h2>Paupiette réunit séniors et étudiants le temps d’un déjeuner, autour d’un bon petit plat ! <br>Toi aussi, rejoins-nous.</H2>
        <% if !user_signed_in? %>
              <%= link_to "Je suis chef de cuisine !", new_user_registration_path(:episode => true),  class: "action-btn-home" %>
              <%= link_to "Je suis étudiant !", new_user_registration_path(:episode => false), class: "action-btn-home" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="selfies-du-midi">
  <h2>Les derniers selfie du midi</h2>
  <div class="paupiette-container">
  <div class="selfies">
    <div class="selfie-container">
      <div class="selfie">
        <div class="selfie-image" style="background-image:url('<%= image_url('selfie1.png')%>')">

        </div>
        <h3>Béatrice et Marie</h3>
      </div>
    </div>
    <div class="selfie-container">
      <div class="selfie">
        <div class="selfie-image" style="background-image:url('<%= image_url('selfie2.png')%>')">

        </div>
        <h3>Béatrice et Marie</h3>
      </div>
    </div>
    <div class="selfie-container">
      <div class="selfie">
        <div class="selfie-image" style="background-image:url('<%= image_url('selfie3.png')%>')">

        </div>
        <h3>Béatrice et Marie</h3>
      </div>
    </div>
    <div class="selfie-container">
      <div class="selfie">
        <div class="selfie-image" style="background-image:url('<%= image_url('selfie4.png')%>')">

        </div>
        <h3>Béatrice et Marie</h3>
      </div>
    </div>
  </div>
</div>
</section>
<section class="infog">
  <div class="paupiette-container">
<div class="inner-container">
  <div class="infog-container">

<h2>Le Concept</h2>
<table >
  <tr>
    <td class="col1"><%= image_tag("expli1.png")%></td>
    <td class='col2'>L'hôte propose un menu et indique ses critères (nombre de convives, dates...)</td>
    <td class='col3 fleche'><%= image_tag("fleche1.png")%></td>
  </tr>
  <tr>
    <td class="col1 fleche"><%= image_tag("fleche2.png")%></td>
    <td class='col2'>La mise en relatione est validée par nos contributeurs</td>
    <td class='col3'><%= image_tag("expli2.png")%></td>
  </tr>
  <tr>
    <td class="col1"><%= image_tag("expli0.png")%></td>
    <td class='col2'>Les jeunes sont acceuillis au domicile de l'hôte</td>
    <td class='col3'></td>
  </tr>
</table>
<h3>Gourmandise, rires et partage garantis</h3>
</div>
</div>
  </div>
</section>
<section class="trois-piliers">
  <div class="paupiette-container">
        <div class="piliers">
  <div class="pilier-container">
    <div class="pilier">
      <div class="image-pilier">
<%= image_tag("aqua1.png")%>
      </div>
      <div class="texte-pilier">
<h2>Soutien</h2>
<p>Une initiative qui lutte contre la solitude des séniors</p>
      </div>
    </div>
  </div>
  <div class="pilier-container">
    <div class="pilier">
      <div class="image-pilier">
<%= image_tag("aqua2.png")%>
      </div>
      <div class="texte-pilier">
<h2>Economique</h2>
<p>Des repas complets à prix accessible pour les étudiants</p>
      </div>
    </div>
  </div>
  <div class="pilier-container">

    <div class="pilier">
      <div class="image-pilier">
<%= image_tag("aqua3.png")%>
      </div>
      <div class="texte-pilier">
        <h2>Convivial</h2>
        <p>Une expérience qui allie rires, partage et transmission</p>
      </div>
    </div>
    </div>
  </div>
</div>
</section>
<section class="prix">
  <div class="paupiette-container">
<div class="inner-container">
  <div class="prix-img">
    <%= image_tag("carotte.png")%>
  </div>
<h2>Des prix fixes</h2>
<table >
  <tr>
    <td class="table-prix">4 €</td>
    <td class='table-plat'>Un Plat</td>
  </tr>
  <tr>
    <td class="table-prix">5 €</td>
    <td class='table-plat'>Un entrée/un plat OU un plat/un dessert</td>
  </tr>
  <tr>
    <td class="table-prix">7 €</td>
    <td class='table-plat'>Une entrée/un plat/un dessert</td>
  </tr>
</table>
</div>
  </div>
</section>
