<%= form_for(meal) do |f| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nom %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :Entrée %>
    <%= f.text_field :entree %>
  </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :edesc %>
    </div>

  <div class="field">
    <%= f.label :Plat %>
    <%= f.text_field :plat %>
  </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :pdesc %>
    </div>

  <div class="field">
    <%= f.label :Dessert %>
    <%= f.text_field :dessert %>
  </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :ddesc %>
    </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :participants %>
    <%= f.select(:nbpart, 1...5) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
