<%if current_user.street? %>

<%= form_for(meal) do |f| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-2">
      </div>
      <%= form_for(meal) do |f| %>
        <% if meal.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

            <ul>
            <% meal.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <div class="col-xs-6 col-md-8">
        <div class="center_signup_bloc">
          <div class="col-md-6 col-md-4">
            <div class="sign_up_bloc">
              <div class="field">
                <%= f.label :Nom %>
                <%= f.text_field :name, :class => 'form-control'  %>
              </div>

              <div class="field">
                <%= f.label :date %>
                <%= f.date_select :date %>
              </div>

              <div class="field">
                <%= f.label :participants %>
                <%= f.select(:nbpart, 1...5) %>
              </div>
              <div class="field">
                <%= f.label :Ville %>
                <select name="city" id="post_cities">
                    <option value="bordeaux">Bordeaux</option>
                    <option value="paris">Paris</option>
                    <option value="quimper">Quimper</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-md-4">
            <div class="sign_up_bloc">
              <div class="field">
                <%= f.label :Entrée %>
                <%= f.text_field :entree, :class => 'form-control'  %>
              </div>

              <div class="field">
                <%= f.label :Plat %>
                <%= f.text_field :plat, :class => 'form-control'  %>
              </div>

              <div class="field">
                <%= f.label :Dessert %>
                <%= f.text_field :dessert, :class => 'form-control'  %>
              </div>
            </div>
          </div>

          <%= f.hidden_field :user_id, :value => current_user.id  %>

          <div class="actions">
            <%= f.submit "Ajouter repas"%>
          </div>
        </div>
    </div>
<% end %>
<%end%>
<% else %>
<h2> Vous devez rentrer votre adresse avant de créer un repas </h2>
<button type="button" class="btn btn-default navbar-btn btn-paupiette"><%= link_to 'Editer mon profil', edit_user_registration_path %></button>
<%end%>
</div>
