<p id="notice"><%= notice %></p>

<p>
  <strong>Repas le <%= @meal.date.to_formatted_s(:short) %> chez <%= @meal.user.first_name %></strong>
</p>


<p>Venez manger ... </p>

<p>
  <strong>Entrée</strong>
  <%= @meal.entree %>
</p>

<p>
  <strong>Plat</strong>
  <%= @meal.plat %>
</p>

<p>
  <strong>Dessert</strong>
  <%= @meal.dessert %>
</p>

<% if current_user == true %>
  <%= link_to 'Modifier', edit_meal_path(@meal) %>
<% end %>

<%= link_to 'Retour', meals_path %>
